/* Created by John Spahr */

.label1 {
    font-family: "Comic Sans MS", "Comic Sans", "Chewy", sans-serif;
    font-size: 60px;
    color: white;
}

.center {
    text-align: center;
    background-color: black;
}

.label2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
}

.label3 {
    font-family: "Comic Sans MS", "Comic Sans", "Chewy", sans-serif;
    font-size: 30px;
    color: white;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
}

a:hover {
    color: blue;
}